[submodule "glasgow/glasgow"]
	path = glasgow/glasgow
	url = git@github.com:TheJigsApp/glasgow
[submodule "tigard/tigard"]
	path = tigard/tigard
	url = git@github.com:TheJigsApp/tigard
[submodule "Prusa/Buddy-board-MINI-PCB"]
	path = Prusa/Buddy-board-MINI-PCB
	url = git@github.com:prusa3d/Buddy-board-MINI-PCB.git
[submodule "librem5/l5-schematic"]
	path = librem5/l5-schematic
	url = https://source.puri.sm/Librem5/l5-schematic.git
[submodule "mnt/mnt-reform-rk3588-som"]
	path = mnt/mnt-reform-rk3588-som
	url = https://source.mnt.re/reform/mnt-reform-rk3588-som/
[submodule "beaglebone/beaglebone-black-wireless"]
	path = beaglebone/beaglebone-black-wireless
	url = git@github.com:beagleboard/beaglebone-black-wireless.git
